/build/
/build-arm/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile

*.o
*.ko
*.dtb
*.mod
*.mod.c
*.cmd
Module.symvers
modules.order

driver/device_ioctl_test
driver/device_poll_test

.vscode/

app/qt_hmi/qt_hmi
